@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --font-color: black;
  --secondary-font-color: rgb(110, 110, 110);
  --bg-color: white;
  --ico-color: #00abf0;
  --ternary-color: #00abf0;
  --quaternary-color: #f000e4;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

header,
nav {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  border-right: 1px solid var(--secondary-font-color);
  padding: 5px;
  width: fit-content;
  min-height: 100vh;
  text-align: center;
  justify-content: space-between;
}

.logo-ico {
  margin-top: 10px;
  width: 40px;
}

.nav-links a,
.social-links a {
  text-decoration: none;
  color: var(--secondary-font-color);
  margin: 3px 6px;
  padding: 10px;
  border-radius: 10px;
}

.social-links {
  display: flex;
  flex-direction: column;
}

.nav-links a i {
  font-size: 23px;
}

.social-links a i {
  font-size: 25px;
}

.nav-links a:hover,
.social-links a:hover,
.theme-notifier a:hover {
  background-color: var(--ternary-color);

}

.theme {
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 70px;
}