:root {
    --font-color: black;
    --secondary-font-color: rgb(110, 110, 110);
    --bg-color: white;
    --ico-color: #00abf0;
    --ternary-color: #00abf0;
    --quaternary-color: #f000e4;
    --side-nav-icons-size: 20px;
}